.current {
  color: green;
}

.aristotle-background {
  color: #fff; text-align: center; background-color: #4E8382; background-image: linear-gradient(120deg, #155799, #7D7D7D);
}

@media screen and (min-width: 64em) { .aristotle-background { padding: 5rem 6rem; } }
@media screen and (min-width: 42em) and (max-width: 64em) { .aristotle-background { padding: 3rem 4rem; } }
@media screen and (max-width: 42em) { .aristotle-background { padding: 2rem 1rem; } }